/* Estilo global */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
}

/* Containers principais */
#login-container, #signup-container, #kanban-container {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* Formulários */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"], input[type="password"] {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
}

/* Estilos para botões */
button {
    padding: 12px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="button"] {
    background-color: #a607d6;
    color: #fff;
}

button[type="button"]:hover {
    background-color: #1e7e34;
}

/* Estilo do botão "Confirmar" */
button.confirm {
    background-color: #4CAF50;
    color: white;
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border-radius: 5px;
}

button.confirm:hover {
    background-color: #45a049;
}

/* Estilo do botão de "Selecionar Analista" */
button.select-analyst {
    background-color: #f0ad4e;
    color: white;
    width: 50%;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

button.select-analyst:hover {
    background-color: #ec971f;
    transform: scale(1.05);
}

/* Dashboard e Tabelas */
#dashboard {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    transition: background-color 0.3s, color 0.3s;
}

#dashboard-table {
    width: 100%;
    border-collapse: collapse;
}

#dashboard-table th, #dashboard-table td {
    padding: 12px;
    border: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

#dashboard-table th {
    background-color: #007BFF;
    color: #fff;
}

#close-dashboard {
    background-color: #DC3545;
}

#close-dashboard:hover {
    background-color: #b21f2d;
}

/* Kanban */
.board {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
    overflow-x: auto;
    width: 100%;
    flex-wrap: wrap;
}

.column {
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    max-width: 250px;
    margin-bottom: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.column h2 {
    font-size: 18px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 15px;
    width: calc(100% - 20px);
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s, color 0.3s;
}

.card:hover {
    transform: scale(1.02);
}

.add-card {
    background-color: #28A745;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
}

.add-card:hover {
    background-color: #218838;
}

/* Área de Analistas */
#analysts-container {
    margin-bottom: 30px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.analyst {
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analyst-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #007BFF;
    object-fit: cover;
    margin-bottom: 10px;
}

.analyst:hover .analyst-photo {
    transform: scale(1.1);
}

/* Estilo para o Total de Tempo */
#total-time {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #09ffde;
    padding: 15px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}



/* Estilos para os botões de exportação */
#generate-pdf {
    margin: 10px;
    background-color: #ff0000;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

#generate-pdf:hover {
    background-color: #c20a0a;
    color: white;
    transform: scale(1.05);
}

#generate-excel {
    margin: 10px;
    background-color: #01b92c;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

#generate-excel:hover {
    background-color: #00861d;
    color: white;
    transform: scale(1.05);
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
    body {
        padding: 10px;
        justify-content: flex-start;
    }

    /* Containers principais */
    #login-container, #signup-container, #kanban-container {
        padding: 20px;
        margin: 10px 0;
        width: 100%;
        max-width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    /* Formulários */
    form {
        gap: 10px;
    }

    input[type="text"], input[type="password"] {
        padding: 10px;
        font-size: 14px;
    }

    /* Botões */
    button {
        padding: 10px;
        font-size: 14px;
    }

    button[type="submit"], button[type="button"], button.confirm, button.select-analyst {
        width: 100%;
        margin-bottom: 10px;
    }

    /* Dashboard e Tabelas */
    #dashboard {
        padding: 15px;
    }

    #dashboard-table th, #dashboard-table td {
        padding: 8px;
        font-size: 12px;
    }

    /* Kanban */
    .board {
        flex-direction: column;
        gap: 15px;
    }

    .column {
        width: 100%;
        min-width: unset;
        padding: 10px;
    }

    .column h2 {
        font-size: 16px;
        padding: 8px;
    }

    .card {
        padding: 8px;
        font-size: 12px;
    }

    .add-card {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    /* Área de Analistas */
    #analysts-container {
        gap: 10px;
    }

    .analyst-photo {
        width: 50px;
        height: 50px;
    }

    /* Estilo para o Total de Tempo */
    #total-time {
        font-size: 16px;
        padding: 10px;
        margin-top: 15px;
    }

    /* Botões de exportação */
    #generate-pdf, #generate-excel {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    /* Botão de alternância de modo escuro */
    .dark-mode-toggle {
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 18px;
    }

    .card, .column {
        padding: 6px;
    }

    #total-time {
        font-size: 14px;
        padding: 8px;
    }

    button {
        font-size: 12px;
        padding: 8px;
    }

    .analyst-photo {
        width: 40px;
        height: 40px;
    }

    .add-card {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
}

/* Botão de alternância de modo escuro */
.dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0a72e0;
    color: rgb(255, 251, 3);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dark-mode-toggle:hover {
    background-color: #021e3b;
}

/* Estilos para o modo escuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode #login-container,
body.dark-mode #signup-container,
body.dark-mode #kanban-container,
body.dark-mode #dashboard {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-mode input[type="text"],
body.dark-mode input[type="password"],
body.dark-mode button,
body.dark-mode .card,
body.dark-mode .column {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
}

body.dark-mode button {
    background-color: #555555;
    color: #ffffff;
}

body.dark-mode button:hover {
    background-color: #777777;
}

body.dark-mode #dashboard-table th,
body.dark-mode #dashboard-table td {
    border: 1px solid #555555;
}

body.dark-mode .card {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode .column h2 {
    background-color: #1f1d1d;
}

body.dark-mode .dark-mode-toggle {
    background-color: #555555;
    color: #ffffff;
}

body.dark-mode .dark-mode-toggle:hover {
    background-color: #777777;
}